.basic-layout {
  min-height: 100vh;
  background-color: $background-light;
  background-image: url('/ecommerce-background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content {
  box-shadow: 0px 0px 10px 0px $border-grey-light;
  -webkit-box-shadow: 0px 0px 10px 0px $border-grey-light;
  -moz-box-shadow: 0px 0px 10px 0px $border-grey-light;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;
}
