$primary: #17c6aa;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;
$border-dark: rgba(0, 0, 0, 0.12);

$background-light: #fff;
$background-grey-light: #f8f9fa;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$red: #da0e33c2;
$orange: #f5b642;
$success: #69af00;
$teal: rgb(50, 170, 200);
