.home-page {
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
    background-color: inherit;
  }

  .products .item {
    margin: 0.5rem;
  }

  .products .card-img-top {
    height: 250px !important;
    width: 100% !important;
  }

  .products .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .products .card-text {
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .products-page .img-thumbnail.active {
    border-color: orangered;
    padding: 2px;
  }

  .no-products {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 500px;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px $border-light, 0 0 20px $border-light,
      0 0 20px $border-light;
    margin-top: 3rem;
  }
}
