footer {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h5 {
    margin: 0.1rem;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: none;
    line-height: 1.25;
  }
}
